<a href="https://colab.research.google.com/github/devincriniti/DSC_110/blob/main/python/intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#we are displaying the text "hello world"
print('Hello World')

Hello World

# Variables
In this section, well discuss variables

In [9]:
#we are assigning the text boston to the variable a
a = 'Boston'

In [10]:
#we are displaying the text (boston) using the variable a
print(a)

Boston

In [60]:
#we are displaying everything but the last letter (-1)
print(a[:-1])

Bosto

In [21]:
#we are assigning the numbers to variables b and c
b = 2
c = 3

In [22]:
#we can use this to do math problems, and we can use the variable instead of the numbers
b+c

5

In [23]:
#tells us what type of data the variable b is, in this case, an interger
type(b)

int

In [24]:
#tells us our variable a is a string
type(a)

str

In [25]:
# here we are displaying 5 squared, it solves the math problem
print(5**2)

25

Data Structures (Containers)

In [26]:
#we are creating a list
My_List=[1,2,3,5,'a']

list

In [76]:
#we are displaying our list
print(My_List)

[10, 2, 3, 5, 'a']

In [74]:
#We are changing the first thing in our list
My_List[0]=10

In [73]:
#we are displaying the first thing in our list
print(My_List[0])

10

Tuples

In [31]:
#here we are creating a tuple, these are good for student id numbers or DOBs
My_Tuple=(1,2,3,'a')

In [50]:
#we are displaying all values of our tuple
print(My_Tuple)

(1, 2, 3, 'a')

In [33]:
#we are displaying the first value in out tuple
print(My_Tuple[0])

1

In [34]:
#you cannot change values after the fact with a tuple
My_Tuple[0]=10

TypeError: 'tuple' object does not support item assignment

Dictionary

In [38]:
#we are assigning a values to different keys by using the dictionary function
My_Dictionary={
    "Name":"Heather",
    'Age':'35',
    'Gender':'Female',
    'City':'Boston'
}

In [40]:
#displays value from the key you give
My_Dictionary['Name']

'Heather'

Sets

In [41]:
#sets dont show duplicate numbers,
My_Set={1, 2, 3, 4, 5, 5}

In [43]:
#this line displays our set
print(My_Set)

{1, 2, 3, 4, 5}

In [44]:
My_Set[0]
#we cannot acces values from sets by position

TypeError: 'set' object is not subscriptable

Functions

In [45]:
#we are converting celsius to farenheit and then displaying it
temp = (4 * 9/5) + 32
print(temp)

39.2

In [48]:
#we are converting celsius to farenheit and then displaying it
temp = (-6 * 5/9) + 32
print(temp)

28.666666666666668

In [49]:
#we created a function to convert celsius to fahrenheit
def c_to_f(c_temp):
  fahrenheit_temp = (c_temp * (9/5)) + 32
  return fahrenheit_temp

In [52]:
#here we are using our funtion to conver 4 degrees celsius to fahrenheit
c_to_f(4)

39.2

In [54]:
#we are assigning this temp to a variable now
f_temp = c_to_f(4)
print(f_temp)

39.2

Formatted String Literals

In [55]:
#We are combining the function with plain text
print(f'the temperature now is {c_to_f(0)}F')

the temperature now is 32.0F

Loops

In [57]:
#we created a list of celsius temperatures (square bracket for lists)
My_Temp_List_C = [0, 10, 20, 30, 40]

In [58]:
#this way of converting the whole data set is time consuming
c_to_f(0)
c_to_f(10)
c_to_f(20)
c_to_f(30)

86.0

In [59]:
#we are converting every value in the my temp list to farhrenheit with a loop
for c_temp in My_Temp_List_C:
  print(c_to_f(c_temp))

32.0
50.0
68.0
86.0
104.0

In [69]:
#we created a function to calculate bmi
def calculate_BMI(WEIGHT_KG, HEIGHT)_m:
  BMI=WEIGHT_KG/(height_m**2)
  return BMI

In [70]:
#we are inputing our weight and height to calculate bmi from the function we created before
calculate_BMI(75,1.7)

25.95155709342561

In [72]:
#here we are using a if statement to display a message if it is within the parameters
BMI=18
if BMI<20:
  print('underweight')
else:
  print('normal')

underweight

Libraries

In [77]:
#below is how we import libraries, libraries in python have built-in function
#this demonstrates using one line from np.mean can save you time

In [78]:
import pandas as pd
import numpy as np